*{
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;

}
:root{
    --primary-bg-color : #000000;
    --secondary-color : #4D4D4D;
    --secondary-color-2 : #666666;
    --secondary-color-3 : #808080;
    --secondary-color-4 : #999999;
    --secondary-color-5 : #B3B3B3;
    --secondary-color-6 : #cacaca;
    --secondary-color-7 : #e4e2e2;
    --primary-text-color: #FFFFFF;
}
/* Common Color Classes Starts */
.text-color-white{
color: var(--primary-text-color) !important;
}
.bg-color-secondary-1{
    background-color: var(--secondary-color-2);
}
.text-color-white:hover{
    color: var(--primary-text-color);
}
.bg-color-7{
    background-color: var(--secondary-color-7);
}
.bg-color-white{
    background-color: var(--primary-text-color);
}
.bg-color-secondary{
    background-color: var(--secondary-color);
}
.hover-input:active{
    background-color: var(--secondary-color);
}
.fs-16px{
    font-size: 16px;
}
.fs-20px{
    font-size: 20px;
}
.fs-22px{
    font-size: 22px;
}
.fs-24px{
    font-size: 24px;
}
.fw-300{
    font-weight: 500;
}
/* Common Color Classes Ends */
/* navbar css Starts  */
.dropdown-width{
    width: 250px;
    top: 120% !important;
}
.dropdown-width-login{
    width: 200px;
    top: 120% !important;
}
.navbar-bg-color{
    background-color: var(--primary-bg-color);
}
.btn-login{
    background-color: var(--primary-bg-color);
}
/* Hero Login Section Starts */

.btn-login:hover{
    background-color: var(--secondary-color-3);
}

.form-position{
    top: 5%;
    left: 5%;
}
#chatbox{
    background-color: var(--secondary-color-6);
}
.hide-section{
    display: none;
}
.show-section{
    display: block;
}

.bottom-border-show{
    border-bottom: 4px solid black;
    
    
}
.bottom-border-hide{
    border-bottom: 0px solid black;
}
.images{
    height: 90vh;
}
.vh-90{
    height: 90vh;
}
/* Hero Login Section Ends */

/* navbar css Ends */
.e-filling-section{
    background-size: cover; /* This makes sure the image covers the entire container */
    background-position: center; /* Center the background image */
    width: 100%; /* Set the width of the container */
    height: 480px; 
}
.z-index-5{
    z-index: 5;
}
.signup-modal{
    background-color: var(--primary-bg-color) !important;
}
.input-bg-secondary{
    background-color: var(--secondary-color);
}

/* Footer CSS starts  */
.footer{
    background-color: var(--primary-bg-color);
}
/* Footer CSS Ends  */